In [2]:
%matplotlib inline

import pandas as pd
from sklearn.cross_validation import train_test_split
import numpy as np
import time
from sklearn.externals import joblib
import Recommenders as Recommenders
import Evaluation as Evaluation

In [4]:
cols = ['reviewerID', 'asin', 'overall', 'unixReviewTime']
dataset_songs = pd.read_csv("ratings_Digital_Music.csv", names=cols)
dataset_songs.head()

       reviewerID        asin  overall  unixReviewTime
0  A2EFCYXHNK06IS  5555991584      5.0       978480000
1  A1WR23ER5HMAA9  5555991584      5.0       953424000
2  A2IR4Q0GPAFJKW  5555991584      4.0      1393545600
3  A2V0KUVAB9HSYO  5555991584      4.0       966124800
4  A1J0GL9HCA7ELW  5555991584      5.0      1007683200

In [5]:
len(dataset_songs)

836006

In [15]:
song_df = dataset_songs.head(10000)

In [16]:
song_grouped = song_df.groupby(['asin']).agg({'overall': 'count'}).reset_index()
song_grouped.head()

         asin  overall
0  5555991584      130
1  6308051551        2
2  7901622466       17
3  B0000000ZW       21
4  B00000016T      121

In [17]:
grouped_sum = song_grouped['overall'].sum()
grouped_sum

10000

In [18]:
song_grouped['percentage']  = song_grouped['overall'].div(grouped_sum)*100
song_grouped.head()

         asin  overall  percentage
0  5555991584      130        1.30
1  6308051551        2        0.02
2  7901622466       17        0.17
3  B0000000ZW       21        0.21
4  B00000016T      121        1.21

In [19]:
song_grouped.sort_values(['overall', 'asin'], ascending = [0,1])
song_grouped.head()

         asin  overall  percentage
0  5555991584      130        1.30
1  6308051551        2        0.02
2  7901622466       17        0.17
3  B0000000ZW       21        0.21
4  B00000016T      121        1.21