In [1]:
import pandas as pd
import numpy as np

In [2]:
header = ['user_id', 'item_id', 'rating', 'timestamp']
dataset = pd.read_csv('data/ratings_Digital_Music.csv', names=header)

In [3]:
dataset.head()

          user_id     item_id  rating   timestamp
0  A2EFCYXHNK06IS  5555991584     5.0   978480000
1  A1WR23ER5HMAA9  5555991584     5.0   953424000
2  A2IR4Q0GPAFJKW  5555991584     4.0  1393545600
3  A2V0KUVAB9HSYO  5555991584     4.0   966124800
4  A1J0GL9HCA7ELW  5555991584     5.0  1007683200

In [4]:
df = dataset.head(10000)

In [5]:
n_users = df.user_id.unique().shape[0]
n_items = df.item_id.unique().shape[0]
print ('Number of users = ' , str(n_users) , ' | Number of movies = ' , str(n_items))

Number of users =  8355  | Number of movies =  500

In [6]:
from sklearn import cross_validation as cv
train_data, test_data = cv.train_test_split(df, test_size=0.25)

/home/mauli/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [7]:
train_data.head()

             user_id     item_id  rating   timestamp
7204  A2F3OTN9ML2PUH  B000000OYB     3.0  1308355200
8211  A10T3AGVYQIO4G  B000000WCV     5.0  1377475200
7577   AK3DY70GYZB2G  B000000TDH     5.0  1000598400
4114  A190Y0TQ3C8E4K  B000000D7C     5.0  1404345600
301   A22N9H8V0RYQR3  B00000016W     1.0  1125273600

In [8]:
test_data.head()

             user_id     item_id  rating   timestamp
4110   ACDRAIVGN9H0W  B000000D7C     5.0  1356480000
1073    A9I40WFF40R4  B00000024J     5.0  1275436800
6096  A28D6YDSPNG8MQ  B000000OQL     2.0   994377600
7309  A3PK2V74FMXLWR  B000000P08     5.0  1394064000
7798   ACVFTS9X2MKJ8  B000000W54     5.0  1256342400

In [9]:
train_data_matrix = train_data.pivot(index='user_id', columns='item_id', values='rating').fillna(0)
train_data_matrix.head()

item_id,5555991584,7901622466,B0000000ZW,B00000016T,B00000016W,B00000017R,B0000001BA,B0000001BO,B0000001O0,B0000001P4,...,B0000011CU,B0000011GU,B0000011MD,B0000011N5,B0000011P7,B0000011WE,B0000011X5,B0000011XM,B00000127G,B0000012T3
user_id,,,,,,,,,,,,,,,,,,,,,
A04345582HHNXEA9SAET4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A086594320Z777EHOFWKU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A10175AMUHOQC4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A102X8CNVNLINY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A10323WWTFPSGP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
train_data_matrix.shape

(6457, 492)

In [11]:
test_data_matrix = test_data.pivot(index='user_id', columns='item_id', values='rating').fillna(0)
test_data_matrix.head()

item_id,5555991584,6308051551,7901622466,B0000000ZW,B00000016T,B00000016W,B00000017R,B0000001BA,B0000001P4,B0000001PS,...,B000000ZN5,B000001031,B0000011C1,B0000011GU,B0000011MD,B0000011N5,B0000011P7,B0000011WE,B0000011XM,B0000012T3
user_id,,,,,,,,,,,,,,,,,,,,,
A07465992K7FVSL53VA9B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A08161909WK3HU7UYTMW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A102VKCQOZD2C,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A103YTM9ARROO3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A104VHIMHTA3V9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
test_data_matrix.shape

(2305, 391)

In [13]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, n_jobs=-1, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, n_jobs=-1, metric='cosine')

In [14]:
user_similarity

array([[0., 1., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 1., 0., ..., 1., 1., 1.],
       ...,
       [1., 1., 1., ..., 0., 1., 1.],
       [1., 1., 1., ..., 1., 0., 1.],
       [1., 1., 1., ..., 1., 1., 0.]])

In [15]:
item_similarity

array([[0.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        9.92292515e-01, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 4.44089210e-16, 1.00000000e+00, ...,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 2.22044605e-16, ...,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       ...,
       [9.92292515e-01, 1.00000000e+00, 1.00000000e+00, ...,
        2.22044605e-16, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [16]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #You use np.newaxis so that mean_user_rating has same format as ratings
        #ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        ratings_diff = ratings.sub(ratings.mean(axis=1), axis=0)
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity).div(pd.DataFrame(np.array([np.abs(similarity).sum(axis=1)])).iloc[0]).values
    return pred

In [17]:
item_prediction = predict(train_data_matrix, item_similarity, type='item')
user_prediction = predict(train_data_matrix, user_similarity, type='user')

In [18]:
item_prediction.shape

(6457, 492)

In [19]:
test_data_matrix.shape

(2305, 391)

In [20]:
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(ground_truth, prediction))

def mse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return mean_squared_error(ground_truth, prediction)

In [21]:
print ('User-based CF MSE: ' , str(mse(user_prediction, test_data_matrix.values)))
print ('Item-based CF MSE: ' , str(mse(item_prediction, test_data_matrix.values)))

User-based CF MSE:  21.359161107491246
Item-based CF MSE:  21.418974954303863

In [22]:
print ('User-based CF RMSE: ' , str(rmse(user_prediction, test_data_matrix.values)))
print ('Item-based CF RMSE: ' , str(rmse(item_prediction, test_data_matrix.values)))

User-based CF RMSE:  4.621597246352309
Item-based CF RMSE:  4.628063845098063

In [23]:
sparsity=round(1.0-len(df)/float(n_users*n_items),3)
print ('The sparsity level of Music dataset 10000 is ' ,  str(sparsity*100) , '%')

The sparsity level of Music dataset 10000 is  99.8 %

In [24]:
import scipy.sparse as sp
from scipy.sparse.linalg import svds

#get SVD components from train matrix. Choose k.
u, s, vt = svds(train_data_matrix, k = 20)
s_diag_matrix=np.diag(s)
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)
print ('User-based CF MSE: ' , str(mse(X_pred, test_data_matrix.values)))
print ('User-based CF RMSE: ' , str(rmse(X_pred, test_data_matrix.values)))

User-based CF MSE:  21.43615942161839
User-based CF RMSE:  4.6299200232421285

In [25]:
columns = [i for i in train_data_matrix]
index = list(train_data_matrix.index)

In [26]:
usr_pred = pd.DataFrame(user_prediction, index=index, columns=columns)
usr_pred.head()

,5555991584,7901622466,B0000000ZW,B00000016T,B00000016W,B00000017R,B0000001BA,B0000001BO,B0000001O0,B0000001P4,...,B0000011CU,B0000011GU,B0000011MD,B0000011N5,B0000011P7,B0000011WE,B0000011X5,B0000011XM,B00000127G,B0000012T3
A04345582HHNXEA9SAET4,0.059790,0.000240,0.003549,0.059614,0.288768,0.042461,0.001186,-0.006534,-0.007164,-0.002910,...,-0.006691,-0.007164,0.001501,0.025447,-0.001650,-0.003225,-0.005431,0.030488,-0.003541,-0.002595
A086594320Z777EHOFWKU,0.067370,0.008331,0.011611,0.067039,0.294935,0.050190,0.009269,0.001615,0.000991,0.005208,...,0.001459,0.000991,0.009581,0.033321,0.006457,0.004895,0.002709,0.038106,0.004583,0.005520
A10175AMUHOQC4,0.067100,0.008307,0.011573,0.067256,0.293721,0.049991,0.009240,0.001618,0.000996,0.005196,...,0.001463,0.000996,0.009551,0.033193,0.006440,0.004885,0.002707,0.038170,0.004574,0.005507
A102X8CNVNLINY,0.067011,0.008282,0.011545,0.067167,0.293384,0.049921,0.009214,0.001601,0.000979,0.005174,...,0.001446,0.000979,0.009525,0.033141,0.006417,0.004864,0.002688,0.038113,0.004553,0.005485
A10323WWTFPSGP,0.063030,0.004226,0.007493,0.062349,0.289690,0.045918,0.005160,-0.002463,-0.003085,0.001115,...,-0.002618,-0.003085,0.005471,0.029117,0.002360,0.000804,-0.001374,0.033883,0.000493,0.001426

In [27]:
usr_pred.shape

(6457, 492)

In [28]:
import operator
sorted(usr_pred.loc['A10175AMUHOQC4'].to_dict().items(), key=operator.itemgetter(1), reverse=True)[:10]

[('B00000016W', 0.2937206115774641),
 ('B00000064G', 0.1565351932498635),
 ('B000000TDH', 0.11749489846502471),
 ('B000000OUJ', 0.10595756269664387),
 ('B00000053X', 0.07767690856495027),
 ('B0000002ME', 0.07549936224228987),
 ('B000000WCV', 0.06974441838954472),
 ('B00000016T', 0.0672557940207901),
 ('5555991584', 0.06710025499774291),
 ('B000000OMB', 0.06212300626023358)]