In [1]:
#make necesarry imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.spatial.distance import correlation, cosine
import ipywidgets as widgets
from IPython.display import display, clear_output
from sklearn.metrics import pairwise_distances
from sklearn.metrics import mean_squared_error
from math import sqrt
import sys, os
from contextlib import contextmanager

In [2]:
#declaring k,metric as global which can be changed by the user later
global k,metric
k=4
metric='cosine' #can be changed to 'correlation' for Pearson correlation similaries

In [4]:
cols = ['reviewerID', 'asin', 'overall', 'unixReviewTime']
M = pd.read_csv('ratings_Digital_Music.csv', names=cols)
M.head()

       reviewerID        asin  overall  unixReviewTime
0  A2EFCYXHNK06IS  5555991584      5.0       978480000
1  A1WR23ER5HMAA9  5555991584      5.0       953424000
2  A2IR4Q0GPAFJKW  5555991584      4.0      1393545600
3  A2V0KUVAB9HSYO  5555991584      4.0       966124800
4  A1J0GL9HCA7ELW  5555991584      5.0      1007683200

In [7]:
M.shape

(836006, 4)

In [8]:
M = M.head(10000)
M.shape

(10000, 4)

In [9]:
M_matrix = M.pivot(index='reviewerID', columns='asin', values='overall').fillna(0)
M_matrix.head()

asin,5555991584,6308051551,7901622466,B0000000ZW,B00000016T,B00000016W,B00000017R,B0000001BA,B0000001BO,B0000001O0,...,B0000011CU,B0000011GU,B0000011MD,B0000011N5,B0000011P7,B0000011WE,B0000011X5,B0000011XM,B00000127G,B0000012T3
reviewerID,,,,,,,,,,,,,,,,,,,,,
A04345582HHNXEA9SAET4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A07465992K7FVSL53VA9B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A08161909WK3HU7UYTMW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A086594320Z777EHOFWKU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A10175AMUHOQC4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
M_matrix.shape

(8355, 500)




*User-based Recommendation Systems*

In [11]:
#get cosine similarities for ratings matrix M; pairwise_distances returns the distances between ratings and hence
#similarities are obtained by subtracting distances from 1
cosine_sim = 1-pairwise_distances(M_matrix, metric="cosine")

In [12]:
#Cosine similarity matrix
pd.DataFrame(cosine_sim).head()

,0,1,2,3,4,5,6,7,8,9,...,8345,8346,8347,8348,8349,8350,8351,8352,8353,8354
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
#get pearson similarities for ratings matrix M
pearson_sim = 1-pairwise_distances(M_matrix, metric="correlation")

In [14]:
#Pearson correlation similarity matrix
pd.DataFrame(pearson_sim).head()

,0,1,2,3,4,5,6,7,8,9,...,8345,8346,8347,8348,8349,8350,8351,8352,8353,8354
0,1.000000,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,...,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004
1,-0.002004,1.000000,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,...,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004
2,-0.002004,-0.002004,1.000000,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,...,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004
3,-0.002004,-0.002004,-0.002004,1.000000,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,...,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004
4,-0.002004,-0.002004,-0.002004,-0.002004,1.000000,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,...,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004,-0.002004

In [15]:
cosine_sim.shape

(8355, 8355)

In [16]:
pearson_sim.shape

(8355, 8355)

In [21]:
#This function finds k similar users given the user_id and ratings matrix M
#Note that the similarities are same as obtained via using pairwise_distances
similarities=[]
indices=[]
def findksimilarusers(user_id, ratings, metric = metric, k=k):
    
    model_knn = NearestNeighbors(metric = metric, algorithm = 'brute') 
    model_knn.fit(ratings)

    distances, indices = model_knn.kneighbors(ratings.iloc[user_id-1, :].values.reshape(1, -1), n_neighbors = k+1)
    similarities = 1-distances.flatten()
    print ('{0} most similar users for User {1}:\n'.format(k,user_id))
    for i in range(0, len(indices.flatten())):
        if indices.flatten()[i]+1 == user_id:
            continue;

        else:
            print ('{0}: User {1}, with similarity of {2}'.format(i, indices.flatten()[i]+1, similarities.flatten()[i]))
            
    return similarities,indices

In [22]:
similarities,indices = findksimilarusers(1,M_matrix, metric='cosine')

4 most similar users for User 1:

0: User 1263, with similarity of 1.0
1: User 4398, with similarity of 1.0
2: User 2995, with similarity of 1.0
3: User 3000, with similarity of 1.0
4: User 718, with similarity of 1.0

In [23]:
similarities

array([1., 1., 1., 1., 1.])

In [24]:
indices

array([[1262, 4397, 2994, 2999,  717]])